# System requirements (install via brew)
# brew install hidapi
# brew install libusb
# brew install libarchive

# Python packages
cython>=0.29.24
hidapi>=0.14.0
pydualsense==0.5.0 
pyqtgraph
pydualsense
scipy
numpy
matplotlib
pyqt5
